body {
    margin: 0;
    padding: 0;
}

/* Navigation bar styles */
.navbar {

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar ul li a.active {
    color: #007bff;
}

nav {
    background-color: #F5F7F8;
    color: #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    height: 80px;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

nav a {
    color: #231f20;

    text-decoration: none;
    font-size: 25px;
    margin-right: 40px;
    position: relative;
    cursor: pointer;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2.5px;
    width: 100%;
    left: 0;
    background-color: #3e64ff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);

}

nav a:hover::after {
    transform: scale(1);
}

nav button {
    background-color: #007bff;
    border: none;
    color: #f2f4f3;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    font-size: 20px;
}

nav button:hover {
    background-color: #3e64ff;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.logo-background {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10px;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    color: #192655;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    position: relative;
    z-index: 2;

}
/* Navbar End */

/* Profile Section */
.static-txt {
    font-size: 30px;
    margin-top: 90px;
    font-weight: 600;
    min-width: 280px;
    color: #3e64ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.title {
    font-size: 60px;
    margin-left: 0px;
    line-height: 1.5;
    font-weight: 600;
    min-width: 230px;
    color: #231f20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.typing {
    margin: 0;
    padding: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.animated-text {
    font-size: 34px;
    font-weight: 600;
    margin-top: 10px;
    min-width: 580px;
    margin-left: 240px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Web Developer";
    color: #3e64ff;
    animation: words 20s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #fff;
    border-left: 2px solid #231f20;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}


/* THIS KEY FRAMES I LEARNED FROM YOUTUBE  */
@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%, 20% {
        content: "Developer";
    }
    21%, 40% {
        content: "Designer";
    }
    41%, 60% {
        content: "Programmer";
    }
    61%, 80% {
        content: "Freelancer";
    }
    81%, 100% {
        content: "Coder";
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }

    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

.image img {
    background-size: cover;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    position: relative;
    margin-top: 20px;
    margin-left: 100px;

}

.main-content {
    display: flex;
    align-items: center;
}

.description {
    padding: 0px 170px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #231f20;
    line-height: 1.5;
}





/* Skill Section */
.project-heading {
    margin-top: 90px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0 50px;
    justify-content: center;
    margin-top: 50px;
}

.project-section .card {
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgb(61, 61, 61);
    margin: 10px 30px;
}

.img-container {
    overflow: hidden;
    position: relative;
    border-radius: 6px 6px 0 0;
}

.img-container img {
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
}

.img-container:hover img {
    border-radius: 6px 6px 0 0;
    transform: scale(1.3);
}

.project-content {
    padding: 10px 20px 20px 20px;
}

.project-content h5,
.project-content h4 {
    margin: 0 0 5px 0;
}

.project-content h4 {
    font-size: 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}

.project-content h5 {
    color: #711a8b;
    font-weight: 400;
}

.project-content p {
    margin-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5px;
}

.project-content button:hover {
    background-color: #3e64ff;
}

.project-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 14px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}

.project-content a:hover {
    background-color: #3e64ff;
}
/* Skill Section End */


/* Contact Section */
.contact {

    margin-top: 90px;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.address-icon {
    margin: 0 auto;
    background: #3e64ff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-4 {
    font-size: 20px;
    font-weight: 600;
}

.address p {
    font-size: 20px;
    color: #7e7e7e;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.info {
    margin-bottom: 40px;
    display: flex;
}

.info1 {
    display: flex;
}

.info2 {
    display: flex;
}

.box {
    text-align: center;
    margin: 20px;
    padding: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img {
    max-width: 100px;
    border-radius: 50%;
}

.address p a {
    text-decoration: none;
    color: #3e64ff;

}
/* Contact Section End */

/* Footer Section */
footer {
    background-color: #000000;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;

}

.social-icons {
    margin-top: 10px;
}

.icon {
    display: inline-block;
    margin: 0 10px;
    color: #999999;
    background: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon img {
    margin: 10px;
}

footer p {
    color: #999999;
}
/* Footer End */




@media (max-width: 800px) {

    /* Navigation bar styles */
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;

    }

    nav li {
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }

    nav button {
        margin: 10px 0;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    .logo-background {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #192655;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        position: relative;
        z-index: 2;
    }

    ul li button {
        margin-right: 40px;
    }
    /* Navbar End */

    /* Profile Section */
    .typing {
        margin: 0;
        padding: 0;
        color: black;
        display: block;
    }

    .animated-text {
        font-size: 34px;
        font-weight: 600;
        margin-top: 10px;
        min-width: 180px;
        margin-left: 210px;

    }

    .image img {
        margin-left: 50px;
    }

    .description {
        padding: 20px 15px;
    }
    /* Profile End */

    /* Skill Section */
    .project-section {
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 20px;
        padding: 0 10px;
        justify-content: center;
    }

    .project-section .card {
        margin: 0 auto;
        width: 30%;
    }

    .project-content h4 {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
    }
    /* Skill End */

    /* Contact Section */
    #contact-detail {
        display: flex;
        align-items: center;

    }

    .info {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .box {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .box {
        text-align: center;
        margin: 20px;
        padding: 0px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box img {
        max-width: 50%;
        border-radius: 50%;
    }

    .address-icon {
        margin: 0 auto;
        background: #3e64ff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address p {
        font-size: 15px;
    }
    /* Contact End */
}






@media (max-width: 1150px) {
    
    /* profile section */
    .description {
        padding: 0 60px;
    }


    /* Contact Section */
    #contact-detail {
        display: flex;
        align-items: center;

    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .box {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box {
        text-align: center;
        margin: 20px;
        padding: 0px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box img {
        max-width: 50%;
        border-radius: 50%;
    }

    .address-icon {
        margin: 0 auto;
        background: #3e64ff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address p {
        font-size: 15px;
    }
}



/* IMAGES Taken from Freepik/Unsplash/Personal Images All Images are Royalty Free*/